	</body>
	</div>
		<div id="footer">
			<div class="well well-sm">
				<p class="container">
					<span>2023 &copy; ANSHUL ENTERPRISES.</span><a href="#" >Terms of Service</a> | <a href="#" >Privacy Policy</a>
				</p>			
			</div>
	</div>
</html>