<% include partials/header %>
	<div class="container" id = "mainContainer">
		<ul class="nav nav-pills nav-justified">
		  <li role="presentation"><a href="/">Home</a></li>
		  <li role="presentation" class="active"><a href="about">About</a></li>
		  <li role="presentation"><a href="products">Products</a></li>
		  <li role="presentation"><a href="contact">Contact</a></li>
		</ul>
		<div id = "mainDiv" class = "animated zoomIn">
			<div class="panel panel-primary">
				<div class="panel-heading">Mission</div>
				<div class="panel-body" id = "parentNeeded">

					<p>
						Our aim at Anshul Enterprises is always to help our customers to achieve and maintain the highest standards in healthcare.

						Working closely with customers, we have always risen to challenges in our pursuit of excellence and innovation. Our insight into the issues shapes the reality of our customers drives us to deliver breakthrough products and outstanding services.
						<ul class="list-group" id = "ItemListGroup">
							<li class="list-group-item animated" id = "ListGroupItem1">Innovating for customers
								<span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
							</li>
							<span class = "contentListNone animated">
								<div class = "panel panel-default">
									<div class = "panel-body">
										Our existence is meant for serving the best interests of our customers who are indispensable for our current and future growth. Anshul Enterprises aims at infusing innovation in every sphere of our business so as to keep existing clients, appeal to new customers and get a foothold new markets.
									</div>
								</div>
							</span>
							<li class="list-group-item animated" id = "ListGroupItem2">A passion to excel
								<span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
							</li>
							<span class = "contentListNone animated">
								<div class = "panel panel-default">
									<div class = "panel-body">
										We hold to our commitment and edge our drive to catch up with premium standards through consistent improvement and investment. We strive for excellence, innovation and integration, with the view to enhancing every facet of our organization, process and operation.
									</div>
								</div>
							</span>
							<li class="list-group-item animated" id = "ListGroupItem3">Empowering people
								<span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
							</li>
							<span class = "contentListNone animated">
								<div class = "panel panel-default">
									<div class = "panel-body">
										We create entrepreneurial and congenial environment for our workforce to find the true potential and grow. We believe in  bolstering our teams because the competent and accountable people bring about success success, both for company and customers.
									</div>
								</div>
							</span>
							<li class="list-group-item animated" id = "ListGroupItem4">Thriving through diversity
								<span class="glyphicon glyphicon-chevron-down glyphicon-chevron-up" aria-hidden="true"></span>
							</li>
							<span class = "contentListNone animated">
								<div class = "panel panel-default">
									<div class = "panel-body">
										Diversity causes robust and well knitted collaboration, thus ensuring improved solutions. We firmly believe that employees from diverse background, our multidisciplinary knowledge, international presence, and a broad portfolio of activities empower us to get insight into challenges and concerns pertaining to pharmaceutical supplies, patients identity products like Printed Patient Identification Band that can flawlessly distinguish the identity of patients.
									</div>
								</div>  
							</span>
							<li class="list-group-item animated" id = "ListGroupItem5">Quality and Service
								<span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
							</li>
							<span class = "contentListNone animated">
								<div class = "panel panel-default">
									<div class = "panel-body">
										We at Anshul Enterprises believe in, and are committed to providing prompt and efficient service and supplying quality products at most competitive rates with sincere concern towards the safety of the patients. This will help us obtain customer satisfaction and market leadership with focus on continual improvement in quality and service to meet the changing needs of healthcare institutions, doctors and patients.
									</div>
								</div>
							</span>
						</ul>
					</p>
				</div>
			</div>
			<div class="panel panel-primary">
				<div class="panel-heading">Company Profile</div>
				<div class="panel-body">
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ullamcorper interdum eleifend. Duis condimentum diam lectus, ut faucibus ipsum vehicula sed. Maecenas at diam sit amet mi vulputate convallis vel ac odio. Integer nec tincidunt nisl, vitae luctus purus. Maecenas ex lectus, tempor a maximus ut, semper quis enim. Sed fringilla sollicitudin luctus. Phasellus vulputate malesuada faucibus.
						Proin commodo efficitur velit, vitae scelerisque lacus vestibulum vel. Vivamus fringilla sapien et tincidunt hendrerit. Nullam tempus dignissim augue, id euismod augue malesuada eu. In non aliquet elit. Quisque quis mi lacus. Proin eget ex nec felis rhoncus tempor. Ut efficitur eget nunc ut mollis. Nulla molestie nisl sit amet tincidunt sollicitudin. Curabitur feugiat dictum mi dapibus volutpat. Suspendisse nec semper justo. Suspendisse fermentum massa non orci accumsan, et iaculis augue lobortis. Aenean vestibulum blandit tincidunt. Mauris maximus lorem non purus hendrerit, a porta diam tincidunt. Aenean libero neque, malesuada in consequat non, venenatis et felis.
						Cras risus nulla, faucibus fringilla pulvinar non, cursus ut sem. Mauris pretium odio et lectus aliquet consequat. Proin elementum commodo dolor, ut laoreet magna. Suspendisse faucibus tellus vitae semper porttitor. Vivamus tincidunt, lorem ut consequat pulvinar, neque nibh rhoncus risus, eu pretium dolor quam sit amet eros. Duis maximus, magna quis consectetur imperdiet, mauris quam commodo urna, eget molestie nisl dolor id sem. Nunc sed erat ante. Phasellus aliquet et nulla sollicitudin ullamcorper. Aliquam sagittis aliquet libero. Sed quis aliquet ex, ut egestas nulla. Ut laoreet et magna in commodo. Donec placerat nec erat vitae rhoncus. Quisque quis malesuada erat. Suspendisse quis sapien nec velit tempus consectetur quis quis purus. Phasellus efficitur dapibus ornare.
					</p>
				</div>
			</div> 
		</div>
	</div>
	<script
        src = "/aboutController.js"
   	>
    </script>	
<% include partials/footer %> 