<% include partials/header %>
	<div class="container">
		<ul class="nav nav-pills nav-justified">
		  <li role="presentation"><a href="/">Home</a></li>
		  <li role="presentation"><a href="about">About</a></li>
		  <li role="presentation"><a href="products">Products</a></li>
		  <li role="presentation" class="active"><a href="contact">Contact</a></li>
		</ul>
	</div>
<% include partials/footer %> 