<% include partials/header %>
	<div class="container">
		<ul class="nav nav-pills nav-justified">
		  <li role="presentation" class="active"><a href="/">Home</a></li>
		  <li role="presentation"><a href="about">About</a></li>
		  <li role="presentation"><a href="products">Products</a></li>
		  <li role="presentation"><a href="contact">Contact</a></li>
		</ul>
		<div id="myCarousel" class="carousel slide" data-ride="carousel">
		    <!-- Indicators -->
		    <ol class="carousel-indicators">
		      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		      <li data-target="#myCarousel" data-slide-to="1"></li>
		      <li data-target="#myCarousel" data-slide-to="2"></li>
		    </ol>

		    <!-- Wrapper for slides -->
		    <div class="carousel-inner" role="listbox">
		      <div class="item active">
		        <div class="row">
		            <div class="col-md-2">
		                 
		            </div>
		            <div class="col-md-4 slider_text" >
		                  <h2>Accurate</h2>
		                  <p>Anshul Enterprises is one of the leading dealer,distributor and Suppliers of Vacuum Blood Collection Tubes, Fuji X Ray Films, Containers, Patient Identification Band, X-Ray Viewer and Automatic Shoe Cover Dispenser across India</p>			 
		            </div>
		            <div class="col-md-6">
		                  <img src="/images/accurate.png" alt="Accurate" width="460" height="345">
		            </div>
		        </div>
		      </div>
		      <div class="item">	
		        <div class="row">
		            <div class="col-md-2">
		                 
		            </div>
		            <div class="col-md-4 slider_text">
		                  <h2>Reliable</h2>
		                  <p>Anshul Enterprises is one of the leading dealer,distributor and Suppliers of Vacuum Blood Collection Tubes, Fuji X Ray Films, Containers, Patient Identification Band, X-Ray Viewer and Automatic Shoe Cover Dispenser across India</p>			 
		            </div>
		            <div class="col-md-6">
		                  <img src="/images/reliable.png" alt="Reliable" width="460" height="345">
		            </div>
		        </div>
		      </div>		    
		      <div class="item">
		        <div class="row">
		            <div class="col-md-2">
		                 
		            </div>
		            <div class="col-md-4 slider_text">
		                  <h2>Fast</h2>
		                  <p>Anshul Enterprises is one of the leading dealer,distributor and Suppliers of Vacuum Blood Collection Tubes, Fuji X Ray Films, Containers, Patient Identification Band, X-Ray Viewer and Automatic Shoe Cover Dispenser across India</p>			 
		            </div>
		            <div class="col-md-6">
		                  <img src="/images/fast.png" alt="Fast" width="460" height="345">
		            </div>
		        </div>
		      </div>
		    </div>

		    <!-- Left and right controls -->
		    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
		      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
		      <span class="sr-only">Previous</span>
		    </a>
		    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
		      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
		      <span class="sr-only">Next</span>
		    </a>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="well well-lg">
					<div class="thumbnail">
						<img src="/images/diagnostic-center.jpg">
					</div>
					<p>Equipped with adequate technical staff and our office in Mumbai, we can assure you best services and support for your healthcare requirements. The company, headquartered at Mumbai in India, is a premier distributor CD Rich Tubes,M Tubes ,X –Ray Films(Fuji) X-Ray Viewer for effective medical screening across the world. Our range for disposable medical plastic products includes Blood Collection Tubes- EDTA, Fluoride, Clot Activator, Gel Tube ( Vacuum/ Non Vacuum), Urine and Stool Containers( Sterile/ Non Sterile), RIA Tubes, Vials, Tips, Droppers, Micro Centrifuge Tubes etc.</p>
				</div>
			</div>
			<div class="col-md-6">
				<div class="row">
					<div class="col-md-6">
						<div class="thumbnail">
					      <img src="/images/tube.jpg">
					      <div class="caption text-center">
					        <h3>Blood Collection Tube</h3>
					        <p>Description product 1</p>
					        <p><a href="#" class="btn btn-primary" role="button">Know More</a></p>
					      </div>
					    </div>
					</div>
					<div class="col-md-6">
						<div class="thumbnail">
					      <img src="/images/glove.jpg">
					      <div class="caption text-center">
					        <h3>Latex Glove</h3>
					        <p>Description product 2</p>
					        <p><a href="#" class="btn btn-primary" role="button">Know More</a></p>
					      </div>
					    </div>
					</div>
				</div>
			</div>
		</div>
	</div>
<% include partials/footer %> 