<% include partials/header %>
	<div class="container">
		<ul class="nav nav-pills nav-justified">
		  <li role="presentation" class="active"><a href="/">Home</a></li>
		  <li role="presentation"><a href="about">About</a></li>
		  <li role="presentation"><a href="products">Products</a></li>
		  <li role="presentation"><a href="contact">Contact</a></li>
		</ul>
		<div class="jumbotron" id="section">
		  <h2>ACCURATE.RELIABLE.FAST</h2>
		  	<div class="row">
				<div class="col-md-6">
					<p>Anshul Enterprises is one of the leading dealer,distributor and Suppliers of Vacuum Blood Collection Tubes, Fuji X Ray Films, Containers, Patient Identification Band, X-Ray Viewer and Automatic Shoe Cover Dispenser across India</p>			 
				</div>
				<div class="col-md-6">
					<div class="thumbnail">
						<img src="http://www.w3schools.com/css/trolltunga.jpg"/>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="well well-lg">
					<div class="thumbnail">
						<img src="http://www.w3schools.com/css/trolltunga.jpg">
					</div>
					<p>Equipped with adequate technical staff and our office in Mumbai, we can assure you best services and support for your healthcare requirements. The company, headquartered at Mumbai in India, is a premier distributor CD Rich Tubes,M Tubes ,X –Ray Films(Fuji) X-Ray Viewer for effective medical screening across the world. Our range for disposable medical plastic products includes Blood Collection Tubes- EDTA, Fluoride, Clot Activator, Gel Tube ( Vacuum/ Non Vacuum), Urine and Stool Containers( Sterile/ Non Sterile), RIA Tubes, Vials, Tips, Droppers, Micro Centrifuge Tubes etc.</p>
				</div>
			</div>
			<div class="col-md-6">
				<div class="row">
					<div class="col-md-6">
						<div class="thumbnail">
					      <img src="http://www.w3schools.com/css/trolltunga.jpg">
					      <div class="caption">
					        <h3>Product 1</h3>
					        <p>Description product 1</p>
					        <p><a href="#" class="btn btn-primary" role="button">Know More</a></p>
					      </div>
					    </div>
					</div>
					<div class="col-md-6">
						<div class="thumbnail">
					      <img src="http://www.w3schools.com/css/trolltunga.jpg">
					      <div class="caption">
					        <h3>Product 2</h3>
					        <p>Description product 2</p>
					        <p><a href="#" class="btn btn-primary" role="button">Know More</a></p>
					      </div>
					    </div>
					</div>
				</div>
			</div>
		</div>
	</div>
<% include partials/footer %> 