<% include partials/header %>
	<div class="container">
		<ul class="nav nav-pills nav-justified">
		  <li role="presentation"><a href="/">Home</a></li>
		  <li role="presentation"><a href="about">About</a></li>
		  <li role="presentation" class="active"><a href="products">Products</a></li>
		  <li role="presentation"><a href="contact">Contact</a></li>
		</ul>
		<div id = "mainDiv" class = "animated zoomIn">
		<div id="section">
			<div class="row text-center" style="display:flex; flex-wrap:wrap;">
			  <div class="col-sm-6 col-md-4">
			    <div class="thumbnail">
			      <img id="tube" src="/images/tube.jpg" alt="">
			      <div class="caption">
			        <h3>Blood Collection Tubes</h3>
			      </div>
			    </div>
			  </div>
			  <div class="col-sm-6 col-md-4">
			    <div class="thumbnail">
			      <img id="urine_container" alt="We supply a wide range of Urine Containers which is leak proof with special ring inside the cap. These containers come with screw tight and press caps and designed in a specific way to suit the purpose. These containers are manufactured using superior technology, and these finds application in various medical labs, hospitals and clinics. Our range of these containers is auto claveable and we also offer these in Sterile EO and Non- Sterile. Moreover, these containers come in various sizes like 100, 50, 30 and 75 ml" src="/images/6.jpg">
			      <div class="caption">
			        <h3>Urine Containers</h3>
			      </div>
			    </div>
			  </div>
			  <div class="col-sm-6 col-md-4">
			    <div class="thumbnail">
			      <img id="glove" src="/images/glove.jpg" alt="We import Latex Examination Gloves from one of the biggest manufacturer in industry. Our quality control department ensures that our customer gets best quality (AQL 1.5) gloves at most competitive price. We offer 5 sizes in examination gloves">
			      <div class="caption">
			        <h3>Latex Gloves</h3>
			      </div>
			    </div>
			  </div>
			  <div class="col-sm-6 col-md-4">
			    <div class="thumbnail">
			      <img id="ria" src="/images/ria.jpg" alt="These polypropylene / polystyrene tubes are generally used in ria, coagulation & becteriology. The polyproplene tubes are clear and can withstand 3000 rcf during centrifugation while the transparent polystyrene tubes can withstand 1400 rcf">
			      <div class="caption">
			        <h3>RIA Vials</h3>
			      </div>
			    </div>
			  </div>
			  <div class="col-sm-6 col-md-4">
			    <div class="thumbnail">
			      <img id="x-ray_view" src="/images/1.jpg" alt="We are reckoned as a leaders in of x ray viewer, led x-ray viewer, x-ray image viewer. Keeping the needs of the doctors in mind along with the continuously changing demands of hospitals and Nursing homes. We have developed a sleek and effective Single Screen X - Ray Viewer system to view M.R.I, C.T. and x ray images. Our product has got a nonparallel latest LED back-light technology which is perfect for clear X-ray illumination with a longer life of LED">
			      <div class="caption">
			        <h3>X-Ray Viewer</h3>
			      </div>
			    </div>
			  </div>
			  <div class="col-sm-6 col-md-4">
			    <div class="thumbnail">
			      <img id="x-ray_film" src="/images/2.jpg" alt="We are offering X-Ray Film (Fuji Film) to our clients. This X-ray film from Fuji Film is just one of a selection of products from this supplier. These X-Ray Films are in great demand in various medical institutions and organizations and have achieved appreciation due to its high quality(Conventional and DIGITAL)">
			      <div class="caption">
			        <h3>X-Ray Films (FUJI)</h3>
			      </div>
			    </div>
			  </div>
			</div>
		</div>
		</div>
		<!-- The Modal -->
		<div id="myModal" class="modal">
		  <span class="close">×</span>
		  <img class="modal-content" id="img01">
		  <div id="caption"></div>
		</div>
	</div>
	<SCRIPT TYPE="text/javascript" src="/productController.js"></SCRIPT>
<% include partials/footer %> 